{
  // The port to listen on
  // "listenPort" : 80,

  // The IP address to listen on (0.0.0.0 for any)
  // "listenAddr" : "0.0.0.0",

  // If GA tracking is desired, provide ID
  "googleAnalyticsTrackingId" : "UA-20375833-4",

  // The URL to redirect to when the root URL is requested
  "homepageRedirect" : "http://www.rstudio.com/",
}
