runas {

  # required parameter
  param String user "The username that should be used to run the app";

  # List of parent node names that are valid for this directive ($ means root)
  at $ server location;

  # Up to how many times can this directive appear within a node's scope (not
  # including descendant nodes)?
  maxcount 1;
}

max_workers {
  param Integer count "Total number of worker processes (one per active app instance)";
  at $;
  maxcount 1;
}

server {
  at $;
}

listen {
  param Integer port "Port to listen on";
  param String [host] "IP address to listen on (`*` or `0.0.0.0` for all)" *;
  at server;
  maxcount 1;
}

server_name {
  param String names... "The virtual hostname(s) to bind this server to";
  at server;
  maxcount 1;
}

location {
  param String path "The request path that this location should match";
  at server;
}

user_apps {
  param Boolean [enabled] "Whether this location should serve up all users' ~/ShinyApps directories" on;
  at location;
  maxcount 1;
  precludes app_dir redirect log_dir;
}

app_dir {
  param String path "The path to the Shiny application directory";
  at location;
  maxcount 1;
  precludes redirect;
}

redirect {
  param String url "The URL (or base URL) to redirect to";
  param Boolean [exact] "Whether to match on the URL exactly; if false, any subpaths will match as well" true;

  param Integer [statusCode] "The status code to send with the response (see http://en.wikipedia.org/wiki/List_of_HTTP_status_codes#3xx_Redirection)" 302;

  at location;
  maxcount 1;

  precludes log_dir;
}

log_dir {
  param String path "The path to which application log files should be written (does not apply to user_apps)";
  at $ server location;
  maxcount 1;
}
