runas {
  # required parameter
  param String user "The username that should be used to run the app";
  # List of parent node names that are valid for this directive ($ means root)
  at $ server location;
}

max_workers {
  param Integer count "Total number of worker processes (one per active app instance)";
  at $;
}

server {
  at $;
}

listen {
  param Integer port "Port to listen on";
  param String [host] "IP address to listen on (`*` or `0.0.0.0` for all)"; 
  at server;
}

server_name {
  param String names... "The virtual hostname(s) to bind this server to";
  at server;
}

location {
  param String path "The request path that this location should match";
  at server;
}

user_apps {
  param Boolean [enabled] "Whether this location should serve up all users' ~/ShinyApps directories";
  at location;
}

app_dir {
  param String path "The path to the Shiny application directory";
  at location;
}

log_dir {
  param String path "The path to which application log files should be written (does not apply to user_apps)";
  at $ server location;
}