runas {
  # required parameter
  param String user "The username that should be used to run the app";
  # optional parameter
  param String [group] "The groupname that should be used to run the app";
  # List of parent node names that are valid for this directive ($ means root)
  at $ server location;
}

max_workers {
  param Integer count "Total number of worker processes (one per active app instance)";
  at $;
}

server {
  at $;
}

listen {
  param Integer port "Port to listen on";
  at server;
}

server_name {
  param String name "The virtual hostname to bind this server to";
  at server;
}

location {
  param String path "The request path that this location should match";
  at server;
}

userdir {
  param Boolean [enabled] "Whether this location should be a userdir root";
  at location;
}

appdir {
  param String path "The path to the Shiny application directory";
  at location;
}
