# Instruct Shiny Server to run applications as the user "shiny"
run_as shiny;

# Define a server that listens on port 3838
server {
  listen 3838;

  # Define a location at the base URL
  location / {

    # Allow referer and user-agent to pass through from the original request to the shiny app
    whitelist_headers referer user-agent;
  }
}
