#shiny-notification-panel.shiny-server-shim {
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0,0);
  padding: 2px;
  width: 250px;
  z-index: 99999;
}

.shiny-server-shim .shiny-notification {
  background-color: #e8e8e8;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 3px;
  opacity: 0.85;
  padding: 10px 8px 10px 10px;
  margin: 2px;
}

.shiny-server-shim .shiny-notification-message {
  color: #31708f;
  background-color: #d9edf7;
  border: 1px solid #bce8f1;
}

.shiny-server-shim .shiny-notification-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border: 1px solid #faebcc;
}

.shiny-server-shim .shiny-notification-error {
  color: #a94442;
  background-color: #f2dede;
  border: 1px solid #ebccd1;
}

.shiny-server-shim .shiny-notification-close {
  float: right;
  font-weight: bold;
  font-size: 18px;
  bottom: 9px;
  position: relative;
  padding-left: 4px;
  color: #444;
  cursor: default;
}

.shiny-server-shim .shiny-notification-close:hover {
  color: #000;
}

.shiny-server-shim .shiny-notification-content-action a {
  color: rgb(51, 122, 183);
  text-decoration: underline;
  font-weight: bold;
}

#ss-clearfix {
  clear: both;
}
