body.ss-reconnecting {
  background: none;
  opacity: 1;
}

body.disconnected {
  background: none;
  opacity: 1;
}

#ss-connect-dialog {
  opacity: 1 !important;
  padding: 1em;
  position: fixed;
  bottom: 50px;
  left: -30px;
  padding-left: 45px;
  padding-right: 18px;
  width: 300px;
  height: auto;
  z-index: 99999;
  background-color: #404040;
  color: white;
  border-radius: 3px;
  font-size: 0.9em;
  box-shadow: rgba(0, 0, 0, 0.3) 3px 3px 10px;
}
#ss-connect-dialog label {
  display: block;
  font-weight: normal;
  color: white;
  margin: 0;
  padding: 0;
}

#ss-connect-dialog a, #ss-connect-dialog a:visited {
  display: block;
  color: #9999FF;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.ss-dialog-link {
}

.ss-dialog-text {
}

#ss-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 99998;
  overflow: hidden;
  cursor: progress;
}

.ss-gray-out {
  background-color: #999;
  opacity: 0.7;
  cursor: not-allowed !important;
}

#ss-clearfix {
  clear: both;
}
