<html>
<head>
  <title>{{title}}</title>
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Source+Code+Pro' rel='stylesheet' type='text/css'>
  <style type="text/css">
  body {
    font-family: 'Source Sans Pro', sans-serif;
  }
  pre, tt, code, #detail {
    font-family: 'Source Code Pro', monospace;
  }
  h1 {
    font-size: 40px;
  }
  #message {
    font-size: 18px;
  }
  #detail {
    font-size: 14px;
  }
  #console {
    white-space: pre;
    background-color: #2A2A2A;
    color: #4F4;
    padding: 12px;
    border-radius: 4px;
    overflow: auto;
  }
  </style>
</head>
<body>
  <h1>{{title}}</h1>
  {{#if message}}
    <p id="message">{{message}}</p>
  {{/if}}
  {{#if detail}}
    <p id="detail">{{detail}}</p>
  {{/if}}
  {{#if detailHTML}}
    <p id="detail">{{{detailHTML}}}</p>
  {{/if}}
  {{#if console}}
    <p id="console"><code>{{console}}</code></p>
  {{/if}}
</body>
</html>